*{
    font-family: sans-serif;
    font-size: 18px;
}

html{
    height: 100%;
}

body{
    margin: 0px;
}

////// container


main{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 12px;
    margin-top: 78px;
    min-height: 1000px;

    @include smallScreen{
        max-width: 100%;
        padding: 0% 3%;
    }
    @include x_smallScreen{
        padding: 0%;
        margin-top: 69px;
    }

    &.small-top{

        @include x_smallScreen{
            margin-top: 60px;
        }
    }
}

main.smaller{
    min-height: calc(100vh - 150px);
    @include smallScreen{
        min-height: calc(100vh - 138px);
    }
    @include x_smallScreen{
        min-height: calc(100vh - 135px);
    }
}


//// Ban

section.ban{
    height: 450px;
    background-image: url("includes/img/bg_index.jpg");
    background-size: cover;
    @include x_smallScreen{
        height: 250px;
    }
}



//// bloc

section.bloc{
    box-sizing: border-box;
    padding: 20px 0 ;

    &--pad{
        padding: 50px;
    }

} 

.bloc__body--card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    row-gap: 30px;
    
    @include x_smallScreen{
        grid-template-columns: 1fr;
    }
}


.bloc__collapse{
    //width: 350px;
    @include x_smallScreen{
        display: none;
    }
}

section.bloc--smallMargin{
    margin: 0%;
}

.body--small{
    margin: 1% 10%;
    @include smallScreen{
        margin: 1% 5%;
    }
    @include x_smallScreen{
        margin: 1% 3%;
    }

}

.bloc_in_bloc{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-flow: column;
    margin: 20px 0 auto;
    padding: 20px 0;
    border-bottom: solid 2px;
    align-items: center;
    @include smallScreen{
        display: block;

        option{
            font-size: 15px;
        }
    }
}


//// bloc title


h2.bloc__title{
    text-align:center;
    font-size: 2.5rem;
    color: $dark_grey;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    &--pad{
        padding: 4% 0%;
    }

    &--bg{
        background: white;
    }

    @include x_smallScreen{
        font-size: 25px;
    }
    
}

//// header title

h3.header__title{
    font-size:40px;
    letter-spacing: 4px;
    color: $dark_grey;
    background-color: rgba(236, 161, 75, 0.274);
    padding: 4px 14px;
    margin-bottom: 40px;
    @include x_smallScreen{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
}


h4{
    font-size: 25px;
    display: block;
    height: 50px;
    @include smallScreen{
        font-size: 20px;
    }

    @include x_smallScreen{
        height: auto;
    }
}

//// header subtitle

h5.header__subtitle{
    font-size: 22px;
    line-height: 37px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: $dark_grey;
    font-weight: lighter;
    @include x_smallScreen{
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

h5.subtitle{
    font-size: 22px;
    font-weight: bold;
    color: $dark_grey;
}


//// h6


h6{
    font-size: 20px;
    font-weight: lighter;
    margin: 2% 0%;
    @include x_smallScreen{
        font-size: 16px;
     }

    &.ing__title{
        text-align: center;
        margin: 30px;
    }
}

//// p

p.body__desc{
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    @include x_smallScreen{
        font-size: 16px;
        padding-right: 5px;
    }
}

p.body__desc--smallMargin{
    margin: 1%;
    font-size: 17px;
    @include x_smallScreen{
        font-size: 15px;
        padding-right: 5px;
    }
}



p.return{
    text-align: center;
    font-weight: lighter;
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @include x_smallScreen{
        font-size: 15px;
     }
}



//// card


.card{
    width: 600px;
    text-align: -webkit-center;
    border: solid grey;
    background-color: white;
    border-radius: 10px;

    @include smallScreen{
        width: 85%;
    }

    &--orange{
        background: rgba(233,99,38,255);
        border: none;
        border-radius: 10px;
    }

    &__header{
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include smallScreen{
            height: 200px;
        }

        img{
            height: 300px;
            margin-top: 10px;

            &:hover{
                transform: scale(1.05);
                @include smallScreen{
                    transform: none;
                }
            }

            @include smallScreen{
                height: 90%;
                width: auto;
            }
        }
    }

    &__body{
        height: 500px;

        .card__button{
            margin-bottom: 10px;

            @include smallScreen{
                padding: 10px;
            }
        }

        @include x_smallScreen{
            height: auto;
        }
    }
    
}



.card--border{
    border: #4d4c4cad 2px solid;
    border-radius: 5px;
    padding: 3%;
    width: 90%;
    margin: 0 auto;
}



//// divider

.return_divider{
    border-top: 3px solid rgb(85, 148, 104);
    width: 100px;
    margin: auto;
}


.section-divider{

    display: none;
    @include smallScreen {
        border-top: 3px solid rgb(192, 92, 9);
        width: 230px;
        margin: 20px 0 0 0;
        display: block;
    }

}

.divider--100{
    border-top: 5px dotted $ocher;
    width: auto!important;
}


//// a

a{
    text-decoration: none;
}



//// list

ul.pagination{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    place-items: center;
    padding: 0px;
    align-items: normal;
}

ul{
    padding: 0%;
    text-align: justify;
    
    li{
        list-style: none;
        padding: 10px 0;

        &.list-group-item{
            @include x_smallScreen{
                font-size: 16px;
            }

            &--p{
                font-size: 20px;
                padding: 15px;
                @include smallScreen{
                    font-size: 16px;
                    padding: 8px;
                }
            }
        }
    }
}



//// icon svg


.bi{
    width: 1.5em;
    height: 1.5em;

    path{
        width: 25.5px;
        height: 25.5px;
    }
}

.svg-inline{

    
    align-items: center;
    display: grid;
    grid-template-columns: 26px 1fr;
    grid-column-gap: 2%;
}  


////  form

form{
    width: 60%;
    padding: 5% 10%;
    margin: auto;
    border-radius: 5px;

    &.noPad{
        padding: 0;
    }

    &.form--bg{
        background-color: rgba(255, 255, 255, 0.8);
    }


    @include smallScreen{
        width: 80%;
        padding: 5%;
        text-align: -webkit-center;
     }
}

.form__field{
    justify-content: center;
    margin: 3% auto;

    @include smallScreen{
        width: 80%;
        margin: 2% auto;
     }
    

    &.form__field--90{
        width: 90%;
    }

    &--radio{
        display: grid;
        grid-template-columns: 200px repeat(6,70px);
        row-gap: 5px;
        align-items: center;
        margin: auto;
        justify-content: center;
        margin: 20px 0 auto;
        padding: 20px 0;
        border-bottom: solid 2px;

        @include smallScreen{
            grid-template-columns: 100px 100px;
            width: 70%;
            margin: 0 auto;

            .form-label--radio{
                grid-column: 1/3;
            }
        }
    }
}

label{
    
    @include smallScreen{
        font-size: 16px;
    }
}


input{
    height: 40px;
    border-radius: 5px;
    width: -webkit-fill-available;
    text-align: center;
    @include smallScreen{
       height: 25px;
       font-size: 16px;
       text-align-last: center;
    }

    &.form-control{
        font-size: 18px;
        margin-top: 10px;

        @include x_smallScreen{
            margin: 15px 0;
            font-size: 15px;
        }
    }
    &.form-input--small{
        width: 100px;
    }

    &.ing{
        width: 300px;
        margin: 2px;
        text-align-last: center;
        @include smallScreen{
           width: 200px;
           margin: 0 auto;
        }
    }

    &.form-check-input{
        height: 20px;
    }

    &#picture{
        background:  rgba(250,209,205,255);
    }
}

.field__ing{
    padding: 40px;
    text-align: -webkit-center;
    margin: 20px 0 auto;
    padding: 20px 0;
    border-bottom: solid 2px;

    @include smallScreen{
       margin: 0 auto;
    }

}

.steps{
    margin: 20px 0;
}


legend{
    margin: 20px 0;
}

select{
    height: 40px;
    border-radius: 5px;
}


textarea{
    border-radius: 5px;
    width: -webkit-fill-available;
    align-self: center;
    height: -webkit-fill-available;
    font-size: 18px;
    padding: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    @include smallScreen{
        font-size: 15px;
     }
}

//// Return

.return_error{
    color: $error;
    font-weight:bold;
    text-align: center;
    font-size: 20px;
    @include smallScreen{
        font-size: 15px;
        padding: 5px;
    }

}

.error--grid{
    grid-column: 1/3;
}

.return_message{
    color: $succes;
    font-weight:bold;
    text-align: center;
    font-size: 20px;
    @include smallScreen{
        font-size: 15px;
        padding: 5px;
    }
}


///else 


.text-center{
    text-align: center;
}


.bigger{

    font-size: 20px;
}

.connect{
    padding: 5% 0%;
    color: $grey;
    border: solid;
}

.margin-top{
    margin-top: 2%;
}

.b0{
    bottom: 0px;
    position: relative;
    padding: 10px;
}

.pad{
    padding: 20px;
}