@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  font-family: sans-serif;
  font-size: 1em;
}
@media screen and (max-width: 380px) {
  * {
    font-size: 0.9em;
  }
}

html {
  height: 100%;
}

body {
  margin: 0px;
}

main {
  max-width: 1300px;
  margin: auto;
  padding-bottom: 12px;
  margin-top: 69px;
  min-height: 1000px;
}
@media screen and (max-width: 1290px) {
  main {
    max-width: 100%;
    padding: 0% 3%;
  }
}
@media screen and (max-width: 790px) {
  main {
    padding: 0%;
    margin-top: 69px;
  }
}
@media screen and (max-width: 790px) {
  main.small-top {
    margin-top: 60px;
  }
}
main.grey {
  background: rgba(217, 217, 217, 0.24);
}
main.smaller {
  min-height: calc(100vh - 141px);
}
@media screen and (max-width: 1290px) {
  main.smaller {
    min-height: calc(100vh - 128px);
  }
}
@media screen and (max-width: 790px) {
  main.smaller {
    min-height: calc(100vh - 118px);
  }
}

section.ban {
  height: 450px;
  background-image: url("includes/img/bg_index.jpg");
  background-size: cover;
}
@media screen and (max-width: 790px) {
  section.ban {
    height: 250px;
  }
}

section.bloc {
  box-sizing: border-box;
  text-align: center;
}
section.bloc--pad {
  padding: 50px;
}
@media screen and (max-width: 380px) {
  section.bloc--pad {
    padding: 20px;
  }
}

.bloc__body--card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 30px;
  margin: 1% 5%;
  padding: 2%;
  background: rgba(249, 249, 249, 0.5607843137);
}
@media screen and (max-width: 1090px) {
  .bloc__body--card {
    grid-template-columns: 1fr;
    margin: 2%;
    padding: 1%;
    margin: 1%;
  }
}

@media screen and (max-width: 790px) {
  .bloc__collapse {
    display: none;
  }
}

section.bloc--smallMargin {
  margin: 0%;
}

.body--small {
  margin: 1% 10%;
}
@media screen and (max-width: 1290px) {
  .body--small {
    margin: 1% 5%;
  }
}
@media screen and (max-width: 790px) {
  .body--small {
    margin: 1% 3%;
  }
}

.bloc_in_bloc {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-auto-flow: column;
  margin: 20px 0 auto;
  padding: 20px 0;
  border-bottom: solid 2px;
  align-items: center;
}
@media screen and (max-width: 1290px) {
  .bloc_in_bloc {
    display: block;
  }
  .bloc_in_bloc option {
    font-size: 15px;
  }
}

.bloc__row {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 790px) {
  .bloc__row {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}

.bloc__title {
  text-align: center;
  font-size: 1.8em;
  color: #494a4b;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-grid;
  margin: 1.6em;
  position: inherit;
}
.bloc__title--pad {
  padding: 4% 0%;
}
.bloc__title--bg {
  background: white;
}
@media screen and (max-width: 790px) {
  .bloc__title {
    font-size: 1.6em;
    margin: 1.3em;
  }
}

.header__title {
  font-style: italic;
  font-weight: 100;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #494a4b;
  background-color: rgba(236, 161, 75, 0.274);
  padding: 4px 14px;
  margin-bottom: 40px;
  font-weight: 300;
}
@media screen and (max-width: 790px) {
  .header__title {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

h4 {
  font-size: 1.2em;
  display: block;
  height: 1.5em;
  font-weight: 200;
}
h4.filter_name {
  grid-row: 1;
  grid-column: 1/3;
  color: #494a4b;
}
@media screen and (max-width: 1290px) {
  h4 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 790px) {
  h4 {
    height: auto;
  }
}

.header__subtitle {
  margin: 2em 0;
  line-height: 37px;
  font-size: 1.2em;
  color: #494a4b;
  font-weight: lighter;
}
@media screen and (max-width: 790px) {
  .header__subtitle {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
  color: #494a4b;
}

h1.pad {
  font-size: 25px;
  font-weight: lighter;
  margin: 2% 0%;
}
@media screen and (max-width: 790px) {
  h1.pad {
    font-size: 17px;
  }
}
h1.pad.ing__title {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

p.body__desc {
  font-size: 18px;
  text-align: justify;
  line-height: 28px;
}
@media screen and (max-width: 790px) {
  p.body__desc {
    font-size: 16px;
    padding-right: 5px;
  }
}

p.body__desc--smallMargin {
  margin: 1%;
  font-size: 17px;
}
@media screen and (max-width: 790px) {
  p.body__desc--smallMargin {
    font-size: 15px;
    padding-right: 5px;
  }
}

p.return {
  text-align: center;
  font-weight: lighter;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (max-width: 790px) {
  p.return {
    font-size: 15px;
  }
}

.card_group {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 1290px) {
  .card_group {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    place-items: center;
    grid-row-gap: 5px;
  }
}

.card {
  width: 85%;
  text-align: -webkit-center;
  border: solid grey;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 790px) {
  .card {
    width: 85%;
    grid-column: 1;
  }
}
.card--orange {
  background: rgb(233, 99, 38);
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 1290px) {
  .card--small {
    width: 80%;
  }
}
.card--xsmall {
  height: 16em;
}
.card__header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(219, 176, 140, 0.1215686275);
}
@media screen and (max-width: 1290px) {
  .card__header {
    height: 200px;
  }
}
.card__header--xsmall {
  height: 60%;
}
.card__header img {
  max-height: 90%;
  max-width: 90%;
}
.card__header img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1290px) {
  .card__header img:hover {
    transform: none;
  }
}
@media screen and (max-width: 1290px) {
  .card__header img {
    max-height: 90%;
    width: auto;
    max-width: 90%;
  }
}
.card__body {
  height: 450px;
}
.card__body--small {
  height: 130px;
  margin-top: 20px;
  border-top: solid 1px;
}
@media screen and (max-width: 1290px) {
  .card__body--small {
    height: auto;
    margin-top: 0;
  }
}
.card__body--h400 {
  height: 400px;
}
@media screen and (max-width: 1290px) {
  .card__body--h400 {
    height: auto;
    margin-top: 0;
  }
}
.card__body--xsmall {
  height: 40%;
  display: grid;
}
.card__body__title {
  font-size: 1em;
  align-content: center;
  margin: 1em;
}
.card__body__p {
  margin: 0.2em;
  font-size: 0.9em;
}
.card__body .card__button {
  margin-bottom: 10px;
}
@media screen and (max-width: 1290px) {
  .card__body .card__button {
    padding: 10px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 790px) {
  .card__body .bloc__collapse {
    border-top: solid 2px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 790px) {
  .card__body {
    height: auto;
  }
}

.card--border {
  border: rgba(77, 76, 76, 0.6784313725) 2px solid;
  border-radius: 5px;
  padding: 3%;
  width: 90%;
  margin: 0 auto;
}

.return_divider {
  border-top: 3px solid rgb(85, 148, 104);
  width: 100px;
  margin: auto;
}

.section-divider {
  display: none;
}
@media screen and (max-width: 1290px) {
  .section-divider {
    border-top: 3px solid rgb(192, 92, 9);
    width: 230px;
    margin: 20px 0 0 0;
    display: block;
  }
}

.divider--100 {
  border-top: 5px dotted rgb(231, 178, 98);
  width: auto !important;
}

.divider {
  border-top: solid 5px rgba(255, 140, 0, 0.5803921569);
  margin: 0.9em;
}

a {
  text-decoration: none;
}

ul.pagination {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  place-items: center;
  padding: 0px;
  align-items: normal;
}

ul {
  padding: 0%;
  text-align: justify;
}
ul li {
  list-style: none;
  padding: 10px 0;
}
@media screen and (max-width: 790px) {
  ul li.list-group-item {
    font-size: 16px;
  }
}
ul li.list-group-item--p {
  font-size: 18px;
  padding: 15px;
}
@media screen and (max-width: 1290px) {
  ul li.list-group-item--p {
    font-size: 16px;
    padding: 8px;
  }
}

.bi {
  width: 1.5em;
  height: 1.5em;
}
.bi path {
  width: 25.5px;
  height: 25.5px;
}

.svg-inline {
  align-items: center;
  display: grid;
  grid-template-columns: 26px 1fr;
  grid-column-gap: 2%;
}

form {
  width: 60%;
  padding: 5% 10%;
  margin: auto;
  border-radius: 5px;
}
form.noPad {
  padding: 0;
  width: auto;
}
form.form--bg {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1290px) {
  form {
    width: 80%;
    padding: 5%;
    text-align: -webkit-center;
  }
}

.form__field {
  justify-content: center;
  margin: 3% auto;
}
@media screen and (max-width: 1290px) {
  .form__field {
    width: 80%;
    margin: 2% auto;
  }
}
.form__field.form__field--90 {
  width: 90%;
}
.form__field__img {
  display: grid;
  justify-items: center;
  grid-template-rows: 70px 230px 100px;
  align-items: center;
  background-color: rgba(255, 216, 193, 0.3411764706);
}
.form__field__img img {
  height: 220px;
  border: white 20px solid;
}
.form__field.hide {
  display: none;
}
.form__field--radio {
  display: grid;
  grid-template-columns: 200px repeat(6, 70px);
  row-gap: 5px;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin: 20px 0 auto;
  padding: 20px 0;
  border-bottom: solid 2px;
}
@media screen and (max-width: 1290px) {
  .form__field--radio {
    grid-template-columns: 100px 100px;
    width: 70%;
    margin: 0 auto;
  }
  .form__field--radio .form-label--radio {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1290px) {
  label {
    font-size: 16px;
  }
}

input {
  height: 30px;
  border-radius: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  text-align: center;
  border: solid 1px #494a4b;
}
@media screen and (max-width: 1600px) {
  input {
    height: 25px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1290px) {
  input {
    text-align-last: center;
  }
}
input:focus {
  border: solid 2px rgba(74, 75, 78, 0.5411764706);
}
input.form-control {
  font-size: 18px;
  margin-top: 10px;
}
@media screen and (max-width: 790px) {
  input.form-control {
    margin: 15px 0;
    font-size: 15px;
  }
}
input.form-input--small {
  width: 100px;
}
input.ing {
  width: 300px;
  margin: 2px;
  text-align-last: center;
}
@media screen and (max-width: 1290px) {
  input.ing {
    width: 200px;
    margin: 0 auto;
  }
}
input.form-check-input {
  height: 20px;
}
input#picture {
  background: rgb(250, 209, 205);
}

.field__ing {
  padding: 30px;
  text-align: -webkit-center;
  margin: 20px 0 auto;
  padding: 20px 0;
  border-bottom: solid 2px;
}
@media screen and (max-width: 1290px) {
  .field__ing {
    margin: 0 auto;
  }
}

.steps {
  margin: 20px 0;
}

legend {
  margin: 20px 0;
}

select {
  height: 30px;
  border-radius: 5px;
}

textarea {
  border-radius: 5px;
  width: -webkit-fill-available;
  width: -moz-available;
  align-self: center;
  height: -webkit-fill-available;
  font-size: 18px;
  padding: 8px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media screen and (max-width: 1290px) {
  textarea {
    font-size: 15px;
  }
}

.return_error {
  color: rgb(177, 2, 2);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
@media screen and (max-width: 1290px) {
  .return_error {
    font-size: 15px;
    padding: 5px;
  }
}

.error--grid {
  grid-column: 1/3;
}

.return_message {
  color: rgb(122, 165, 135);
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
@media screen and (max-width: 380px) {
  .return_message {
    font-size: 15px;
    padding: 5px;
  }
}

.success {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 3px 5px 5px 0.5px rgba(27, 25, 25, 0.219);
}
.success svg {
  height: 50px;
  width: 50px;
  color: rgb(122, 165, 135);
}

.text-center {
  text-align: center;
}

.bigger {
  font-size: 20px;
}

.connect {
  padding: 5% 0%;
  color: rgba(74, 75, 78, 0.5411764706);
  border: solid;
}

.margin-top {
  margin-top: 2%;
}

.b0 {
  bottom: 0px;
  position: relative;
  padding: 10px;
}

.pad {
  padding: 20px;
}

.row {
  grid-column: 1/3;
}

.disabled {
  opacity: 0.3;
}

.show {
  display: block;
}

.btn {
  border-radius: 10px;
  text-decoration: none;
  width: 150px;
  padding: 1%;
  text-align: center;
  font-size: 16px;
}
.btn--collapse {
  width: 50px;
  display: none;
  margin-bottom: 10px;
  background-color: rgb(148, 207, 201);
  border: outset rgba(110, 153, 149, 0.89);
}
.btn--collapse svg {
  margin: auto;
  display: block;
  color: rgb(255, 255, 255);
}
.btn--collapse--my {
  background-color: rgb(93, 168, 189);
  border: outset rgba(65, 117, 131, 0.9);
}
@media screen and (max-width: 790px) {
  .btn--collapse {
    display: block;
  }
}
.btn--edit {
  background-color: rgb(45, 89, 116);
  color: white;
  padding: 2% 1%;
  height: 50px;
}
@media screen and (max-width: 790px) {
  .btn--edit {
    height: 40px;
    width: 140px;
    font-size: 15px;
  }
}
.btn--edit--my {
  background-color: rgb(78, 78, 88);
}
.btn--center {
  text-align-last: center;
}
.btn--log {
  background-color: rgb(122, 196, 145);
  border: outset rgba(51, 146, 122, 0.5);
  color: white;
  padding: 10px;
}
@media screen and (max-width: 790px) {
  .btn--log {
    width: 150px;
  }
}
.btn--logout {
  width: 150px;
  padding: 15px;
  margin: 20px auto;
  background-color: rgba(255, 136, 0, 0.8);
  color: white;
  border: solid #c5821a 2px;
}
.btn--extend {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(231, 142, 83, 0.94);
  color: white;
  border: solid rgba(193, 124, 90, 0.78);
}
@media screen and (max-width: 790px) {
  .btn--extend {
    height: 40px;
    width: 140px;
    font-size: 15px;
  }
}
.btn--extend--my {
  background-color: rgb(187, 96, 137);
}
.btn--ins {
  background-color: rgb(251, 147, 0);
  color: white;
  padding: 10px;
  border: outset rgba(182, 109, 6, 0.884);
}
@media screen and (max-width: 790px) {
  .btn--ins {
    font-size: 15px;
    padding: 8px;
  }
}
.btn--add {
  margin: 30px auto;
  background: rgba(209, 0, 0, 0.9098039216);
  color: white;
  padding: 10px;
}
.btn.filter_button, .btn.sort_button {
  padding: 10px 1px;
  color: #494a4b;
  background: white;
  border: 3px solid #87cdc5;
  width: 160px;
  font-size: 17px;
  margin: 0 4px;
}
.btn.filter_button.selected, .btn.sort_button.selected {
  background-color: #ffc300;
}
.btn.filter_button--supp, .btn.sort_button--supp {
  border: 3px solid #b36464;
  color: darkred;
}
@media screen and (max-width: 790px) {
  .btn.filter_button, .btn.sort_button {
    padding: 5px 1px;
    border: 1px solid;
    font-size: 15px;
    margin: 2px 4px;
    border-radius: 4px;
  }
}
.btn:hover {
  box-shadow: 5px 8px 5px rgba(37, 40, 56, 0.31);
  transform: scale(1.01);
  cursor: pointer;
}

.navbar {
  justify-content: center;
  background-color: rgba(209, 88, 7, 0.9);
  width: -webkit-fill-available;
  width: -moz-available;
  top: 0px;
  z-index: 1;
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
}
@media screen and (max-width: 1290px) {
  .navbar {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}
.navbar__logo {
  margin: 2px;
  grid-row: 1;
}
.navbar__logo .logo {
  border-radius: 10px;
  width: 60px;
}
@media screen and (max-width: 790px) {
  .navbar__logo .logo {
    width: 50px;
    padding: 0px;
  }
}
@media screen and (max-width: 380px) {
  .navbar__logo .logo {
    width: 40px;
  }
}
@media screen and (max-width: 270px) {
  .navbar__logo .logo {
    width: 30px;
  }
}
.navbar__brand {
  color: white;
  grid-row: 1;
  align-self: center;
  margin-right: 30px;
}
@media screen and (max-width: 380px) {
  .navbar__brand {
    margin: 0;
  }
}
.navbar__brand h1 {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
@media screen and (max-width: 790px) {
  .navbar__brand h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .navbar__brand h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 270px) {
  .navbar__brand h1 {
    font-size: 16px;
  }
}
.navbar nav.navbar__items {
  align-self: center;
  grid-row: 1;
}
.navbar nav.navbar__items ul {
  list-style: none;
  display: inline-grid;
  grid-template-columns: repeat(4, 200px);
  align-items: center;
  padding: 0px;
  margin: 3px auto;
  justify-items: center;
  column-gap: 10px;
}
@media screen and (max-width: 1290px) {
  .navbar nav.navbar__items ul {
    grid-template-columns: 1fr;
  }
}
.navbar nav.navbar__items ul li.navbar__items__link a {
  color: #ccccce;
  font-size: 20px;
}
@media screen and (max-width: 1290px) {
  .navbar nav.navbar__items ul li.navbar__items__link a {
    font-size: 18px;
  }
}
.navbar nav.navbar__items ul li.navbar__items__link a:hover {
  color: rgb(255, 255, 255);
}
.navbar nav.navbar__items ul li.navbar__items__link a.active {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1290px) {
  #menu-button {
    background: rgb(254, 143, 17);
    width: 60px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: all linear 0.3s;
    padding: 2px;
    z-index: 99;
  }
}
@media screen and (max-width: 1290px) and (max-width: 790px) {
  #menu-button {
    width: 45px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #menu-button {
    width: 30px;
    height: 31px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 270px) {
  #menu-button {
    width: 30px;
    height: auto;
  }
}
@media screen and (max-width: 1290px) {
  #menu-button.active {
    background: rgb(250, 185, 111);
    color: #fff;
  }
}
@media screen and (max-width: 1290px) {
  #line-1, #line-3 {
    background: rgb(254, 255, 255);
    width: 30px;
    height: 6px;
    margin: 6px auto;
    border-radius: 2px;
    transition: all linear 0.3s;
  }
}
@media screen and (max-width: 1290px) and (max-width: 790px) {
  #line-1, #line-3 {
    width: 20px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #line-1, #line-3 {
    width: 15px;
    height: 3px;
  }
}
@media screen and (max-width: 1290px) {
  #line-2 {
    background: rgb(254, 255, 255);
    width: 30px;
    height: 6px;
    margin: 6px auto;
    border-radius: 2px;
    transition: all linear 0.3s;
  }
}
@media screen and (max-width: 1290px) and (max-width: 790px) {
  #line-2 {
    width: 20px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #line-2 {
    width: 15px;
    height: 3px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 270px) {
  #line-2 {
    display: none;
  }
}
@media screen and (max-width: 1290px) {
  #line-1.active {
    -webkit-transform: translate(0px, 12px) rotate(45deg);
    transform: translate(0px, 12px) rotate(45deg);
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #line-1.active {
    transform: translate(0px, 9px) rotate(45deg);
  }
}
@media screen and (max-width: 1290px) and (max-width: 270px) {
  #line-1.active {
    transform: translate(0px, 5px) rotate(45deg);
  }
}
@media screen and (max-width: 1290px) {
  #line-2.active {
    opacity: 0;
  }
}
@media screen and (max-width: 1290px) {
  #line-3.active {
    -webkit-transform: translate(0px, -12px) rotate(-45deg);
    transform: translate(0px, -12px) rotate(-45deg);
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #line-3.active {
    transform: translate(0px, -9px) rotate(-45deg);
  }
}
@media screen and (max-width: 1290px) and (max-width: 270px) {
  #line-3.active {
    transform: translate(0px, -5px) rotate(-45deg);
  }
}
@media screen and (max-width: 1290px) {
  #menu {
    padding: 10px;
    padding-top: 30px;
    font-family: arial;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 60px;
    border-radius: 5px;
    background: inherit;
    width: inherit;
  }
}
@media screen and (max-width: 1290px) and (max-width: 380px) {
  #menu {
    padding-top: 0;
    font-size: 16px;
    top: 50px;
  }
}
@media screen and (max-width: 1290px) and (max-width: 270px) {
  #menu {
    top: 40px;
  }
}
@media screen and (max-width: 1290px) {
  #menu ul {
    list-style: none;
    justify-items: start;
  }
  #menu ul li {
    margin: 8px 0;
  }
  #menu ul li a {
    color: rgb(255, 255, 255);
  }
}
footer {
  width: 100%;
  height: 60px;
  background-color: #6e6f70;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  text-align: center;
  font-size: 17px;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer.smallHtml {
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 1290px) {
  footer.smallHtml {
    position: inherit;
  }
}
footer p {
  margin: 0 auto;
}

ul.pagination {
  grid-template-columns: 50px 30px 50px;
  align-items: center;
}

.bi-caret-left-square {
  color: rgb(235, 198, 149);
}

.bi-caret-right-square {
  color: rgb(235, 198, 149);
}

.page-link--middle {
  color: rgb(235, 198, 149);
}

.page-item.disabled a {
  color: rgba(207, 141, 78, 0.25);
}
.page-item.disabled svg {
  color: rgba(207, 141, 78, 0.25);
}

.page-item.active a {
  font-weight: bold;
}

main.index {
  background-image: url("includes/img/bg_index.png");
  background-size: cover;
  text-align: center;
  background-position-y: -200px;
}
@media screen and (max-width: 790px) {
  main.index {
    background-position-y: inherit;
  }
}

section.bloc--index {
  margin: 160px 20px;
  display: inline-block;
  width: 85%;
}
section.bloc--index h2 {
  color: white;
  padding: 10px;
  background: rgba(255, 195, 73, 0.9);
}

main.ins {
  background-image: url("includes/img/bg_ins.jpg");
  background-size: cover;
  text-align: center;
}

section.ins {
  margin: 50px 20px;
  display: inline-block;
  width: 85%;
}
section.ins h2 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9333333333);
}

section.add {
  background-image: url("includes/img/bg_add.jpg");
}

.bloc__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  border: groove #494a4b 2px;
  padding: 20px 50px;
}
@media screen and (max-width: 1290px) {
  .bloc__grid {
    padding: 5px 30px;
    border: none;
    grid-template-columns: 1fr;
  }
}
.bloc__grid .bloc__body__title {
  grid-column: 1/3;
  grid-row: 1;
  justify-self: center;
  border-bottom: #494a4b solid 3px;
  margin-bottom: 20px;
}
.bloc__grid .bloc__header {
  grid-row: 2/4;
  grid-column: 2;
  align-self: center;
  text-align: center;
}
@media screen and (max-width: 1290px) {
  .bloc__grid .bloc__header {
    grid-row: 2;
    grid-column: 1;
  }
}
.bloc__grid .bloc__header img {
  min-width: 400px;
  max-width: 500px;
  max-height: 500px;
}
@media screen and (max-width: 1290px) {
  .bloc__grid .bloc__header img {
    min-width: auto;
    max-width: 300px;
    max-height: 400px;
  }
}
.bloc__grid .small__bloc {
  grid-row: 2;
}
@media screen and (max-width: 1290px) {
  .bloc__grid .small__bloc {
    grid-row: 3;
  }
}
.bloc__grid .small__bloc__ul {
  grid-row: 3;
}
@media screen and (max-width: 1290px) {
  .bloc__grid .small__bloc__ul {
    grid-row: 4;
  }
}
.bloc__grid .small__bloc__ul h5 {
  margin: 10px 0 40px;
}
.bloc__grid .bloc__text {
  grid-row: 4;
  grid-column: 1/3;
  width: 80%;
  margin: auto;
  text-align: center;
  border-top: outset 5px rgba(236, 161, 75, 0.274);
}
@media screen and (max-width: 1290px) {
  .bloc__grid .bloc__text {
    grid-row: 5;
    grid-column: 1;
    width: auto;
    text-align: left;
  }
}
.bloc__grid .bloc__text ul {
  padding-bottom: 20px;
}
@media screen and (max-width: 1290px) {
  .bloc__grid .bloc__text ul {
    text-align: left;
  }
}

main.bg_card {
  background-image: url("includes/img/bg_card.jpg");
}

main.bg_card_my {
  background-image: url("includes/img/bg_card_my.jpg");
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1%;
  width: -webkit-fill-available;
  width: -moz-available;
}
.dropdown form#filterTable, .dropdown form#sortTable {
  grid-column: 1/3;
  padding: 5% 1%;
  width: -webkit-fill-available;
  width: -moz-available;
}
.dropdown .dropbtn {
  background-color: #61bdbb;
  border-radius: 10px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3b7473;
  border-radius: 10px;
}

.dropdown__filter, .dropdown__sort {
  display: none;
  background-color: rgba(241, 241, 241, 0.4666666667);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.filter_button, .sort_button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100px;
  justify-self: center;
}

.show {
  display: grid;
  position: inherit;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
  justify-content: center;
}
@media screen and (max-width: 790px) {
  .show {
    display: block;
  }
}

main.wel {
  background-image: url("includes/img/bg_wel.jpg");
  background-size: cover;
  text-align: center;
}

.bloc--welcome {
  margin: 50px 100px;
}
@media screen and (max-width: 790px) {
  .bloc--welcome {
    margin: 10px 20px;
  }
}

p.bg--white {
  background: white;
  padding: 25px 0;
}

.edit_main {
  background-color: rgba(145, 33, 0, 0.0784313725);
}

/*# sourceMappingURL=style.css.map */
