
//// btn

.btn{
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    padding: 1%;
    text-align: center;
    font-size: 16px;

    &--collapse{
        width: 50px;
        display: none;
        margin-bottom: 10px;
        background-color: rgba(148,207,201,255);
        border: outset rgba(110, 153, 149, 0.89);

        svg{
            margin: auto;
            display: block;
            color: rgb(255, 255, 255);
        }

        &--my{
            background-color: rgba(93,168,189,255);
            border: outset rgba(65, 117, 131, 0.9);
        }

        @include x_smallScreen{
            display: block;

         }
    }

    &--edit{
        background-color: rgba(45,89,116,255);
        color:white; 
        padding: 2% 1%;

        &--my{
            background-color: rgba(78,78,88,255);
        }
    }

    &--center{
        text-align-last: center;
    }

    &--log{
        background-color: rgba(122,196,145,255);
        border: outset rgba(51, 146, 122, 0.5) ;
        color: white;
        padding: 10px;
        @include x_smallScreen{
            width: 150px;
        }
    }

    &--logout{
        width: 150px;
        padding: 15px;
        margin: 20px auto;
        background-color: rgba(191,192,82,255);
        color: $dark_grey;
        border: solid $dark_grey 1px;
    }

    &--extend{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: rgba(238,157,104,255);
        color: white;
        border: solid $grey;

        &--my{
            background-color: rgba(187,96,137,255);
        }
    }

    &--ins{
        background-color: rgba(251,147,0,255);
        color: white;
        padding: 10px;
        border: outset rgba(182, 109, 6, 0.884);

        @include x_smallScreen{
            font-size: 15px;
            padding: 8px;
            
        }
    }


    &--add{
        margin: 30px auto;
        background: #d10000e8;
        color: white;
        padding: 10px;
    }


    &:hover{
        box-shadow: 5px 8px 5px rgba(37, 40, 56, 0.31);
        transform: scale(1.01);
        cursor: pointer;
    }


}



