
//// btn

.btn{
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    padding: 1%;
    text-align: center;
    font-size: 16px;

    &--collapse{
        width: 50px;
        display: none;
        margin-bottom: 10px;
        background-color: rgba(148,207,201,255);
        border: outset rgba(110, 153, 149, 0.89);

        svg{
            margin: auto;
            display: block;
            color: rgb(255, 255, 255);
        }

        &--my{
            background-color: rgba(93,168,189,255);
            border: outset rgba(65, 117, 131, 0.9);
        }

        @include x_smallScreen{
            display: block;

         }
    }

    &--edit{
        background-color: rgba(45,89,116,255);
        color:white; 
        padding: 2% 1%;
        height: 50px;
<<<<<<< HEAD

        @include x_smallScreen{
            height: 40px;
            width: 140px;
            font-size: 15px;
        }
=======
>>>>>>> 2b5d20c52d37e0d3f44100c1119faf8f34087355

        &--my{
            background-color: rgba(78,78,88,255);
        }
    }

    &--center{
        text-align-last: center;
    }

    &--log{
        background-color: rgba(122,196,145,255);
        border: outset rgba(51, 146, 122, 0.5) ;
        color: white;
        padding: 10px;
        @include x_smallScreen{
            width: 150px;
        }
    }

    &--logout{
        width: 150px;
        padding: 15px;
        margin: 20px auto;
        background-color: #ff8800cc;
        color: white;
        border: solid #c5821a 2px;
    }

    &--extend{
        width: 150px;
        height: 50px;
        border-radius: 10px;
        background-color: rgb(231 142 83 / 94%);
        color: white;
        border: solid rgb(193 124 90 / 78%);

<<<<<<< HEAD
        @include x_smallScreen{
            height: 40px;
            width: 140px;
            font-size: 15px;
        }

=======
>>>>>>> 2b5d20c52d37e0d3f44100c1119faf8f34087355

        &--my{
            background-color: rgba(187,96,137,255);
        }
    }

    &--ins{
        background-color: rgba(251,147,0,255);
        color: white;
        padding: 10px;
        border: outset rgba(182, 109, 6, 0.884);

        @include x_smallScreen{
            font-size: 15px;
            padding: 8px;
            
        }
    }


    &--add{
        margin: 30px auto;
        background: #d10000e8;
        color: white;
        padding: 10px;
    }

<<<<<<< HEAD
    &.filter_button, &.sort_button{
        padding: 10px 1px;
=======
    &.filter_button{
        padding: 15px 1px;
>>>>>>> 2b5d20c52d37e0d3f44100c1119faf8f34087355
        color: $dark_grey;
        background: white;
        border: 3px solid #87cdc5;
        width: 160px;
        font-size: 17px;
        margin: 0 4px;

        &.selected{
            background-color: #ffc300;
        }

        &--supp{
            border: 3px solid #b36464;
            color: darkred;
        }
        @include x_smallScreen{
            padding: 5px 1px;
            border: 1px solid;
            font-size: 15px;
            margin: 2px 4px;
            border-radius: 4px;
        }
    }

    &:hover{
        box-shadow: 5px 8px 5px rgba(37, 40, 56, 0.31);
        transform: scale(1.01);
        cursor: pointer;
    }


}



