.navbar{
    justify-content: center;
    background-color: rgb(209 88 7 / 90%);
    width: -webkit-fill-available;
    width: -moz-available;
    top: 0px;
    z-index: 1;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;

    @include smallScreen{
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-around;
    }


    &__logo{
        margin: 2px;
        grid-row: 1;
        .logo{
            border-radius: 10px;
            width: 60px;
            @include x_smallScreen{
                width: 50px;
                padding:0px;
            }

            @include xx_smallScreen{
                width: 40px;
                
            }

            @include xxx_smallScreen{
                width: 30px;
                
            }
        }
    }  

    &__brand{
        color: white;
        grid-row: 1;
        align-self: center;
        margin-right: 30px;
        @include xx_smallScreen{
            margin: 0;
        }

        h1{
            font-size: 22px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;

            @include x_smallScreen{
                font-size: 20px;
            }
            @include xx_smallScreen{
                font-size: 18px;
            }
            @include xxx_smallScreen{
                font-size: 16px;
                
            }
        }
        
    }

    nav.navbar__items{
        align-self: center;
        grid-row: 1;
       

        ul{
            list-style: none;
            display: inline-grid;
            grid-template-columns: repeat(4,200px);
            align-items: center;
            padding: 0px;
            margin: 3px auto;
            justify-items: center; 
            column-gap: 10px;

            @include smallScreen{
                grid-template-columns: 1fr;
            }

            li.navbar__items__link{

                a{
                    color: #ccccce;
                    font-size: 20px;

                    @include smallScreen{
                        font-size: 18px;
                    }

                    &:hover{
                        color: rgb(255, 255, 255);
                    }

                    &.active{
                        color: rgb(255, 255, 255);
                        
                    }
                }
            }
            
        }
    }
   
}



// hamburger menu

@include smallScreen{

    #menu-button{
        background: rgba(254,143,17,255);
        width: 60px;
        border-radius: 30px;
        position: relative;
        cursor: pointer;
        transition: all linear 0.3s;
        padding: 2px;
        z-index: 99;
            @include x_smallScreen{
                width: 45px;
            }

            @include xx_smallScreen{
                width: 30px;
                height: 31px;
            }
            @include xxx_smallScreen{
                width: 30px;
                height: auto;
            }
    }
    
    #menu-button.active{
    background: rgb(250, 185, 111);
    color: #fff;
    }
    #line-1,#line-3{
    background: rgb(254, 255, 255);
    width: 30px;
    height: 6px;
    margin: 6px auto;
    border-radius: 2px;
    transition: all linear 0.3s;
        @include x_smallScreen{
            width: 20px;
        }
        @include xx_smallScreen{
            width: 15px;
            height: 3px;
        }
    }

    #line-2{
        background: rgb(254, 255, 255);
        width: 30px;
        height: 6px;
        margin: 6px auto;
        border-radius: 2px;
        transition: all linear 0.3s;
        @include x_smallScreen{
            width: 20px;
        }
        @include xx_smallScreen{
            width: 15px;
            height: 3px;
        }

        @include xxx_smallScreen{
            display: none;
        }
    }
    
    #line-1.active{
    -webkit-transform: translate(0px,12px) rotate(45deg);
    transform: translate(0px,12px) rotate(45deg);
        @include xx_smallScreen{
            transform: translate(0px,9px) rotate(45deg);
        }
        @include xxx_smallScreen{
            transform: translate(0px,5px) rotate(45deg);
        }
    }
    
    #line-2.active{
    opacity: 0;
    
    }
    
    #line-3.active{
    -webkit-transform: translate(0px, -12px) rotate(-45deg);
    transform: translate(0px, -12px) rotate(-45deg);
        @include xx_smallScreen{
            transform: translate(0px,-9px) rotate(-45deg);
        }
        @include xxx_smallScreen{
            transform: translate(0px,-5px) rotate(-45deg);
        }
    }
    
    #menu{
    padding: 10px;
    padding-top: 30px;
    font-family: arial;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 60px;
    border-radius: 5px;
    background: inherit;
    width: inherit;
    @include xx_smallScreen{
        padding-top: 0;
        font-size: 16px;
        top: 50px;
    }
    @include xxx_smallScreen{
        top: 40px;
    }

    ul{
        list-style: none;
        justify-items: start;

        li{
            margin: 8px 0;

            a{
                color: rgb(255, 255, 255);
            }
            }
        }
    }
    

}  

// footer

footer{
    width: 100%;
    height:60px;
    background-color: $nav_foot;
    color:rgb(255, 255, 255);
    margin-bottom: 0px;
    text-align: center;
    font-size: 17px;
    align-items: center;
    display: flex;
    justify-content: center;

    &.smallHtml{
        position: absolute;
        bottom: 0px;
        
        @include smallScreen{
            position: inherit;
        }
    }

    p{
        
        margin: 0 auto;
    }
}
