

main.index{
    background-image: url("includes/img/bg_index.jpg");
    background-size: cover;
    text-align: center;
    background-position-x: -200px;
}
section.bloc--index{
    margin: 160px 20px;
    background-color: rgba(236,233,232,0.9);
    display: inline-block;
    width: 85%;
}
