

main.index{
    background-image: url("includes/img/bg_index.png");
    background-size: cover;
    text-align: center;
    background-position-y: -200px;

    @include x_smallScreen{
        background-position-y: inherit;
    }
}
section.bloc--index{
    margin: 160px 20px;
    display: inline-block;
    width: 85%;

    h2{
        color: white;
        padding: 10px;
        background: rgba(255,195,73, 0.9);
    }
}
