main.ins{
    background-image: url("includes/img/bg_ins.jpg");
    background-size: cover;
    text-align: center;
}

section.ins{
    margin: 50px 20px;
   background-color: rgba(237,238,242,0.95);
    display: inline-block;
    width: 85%;
}
