$light_blue : rgb(80, 148, 165);

$duck_blue : #0b2e5c;

$ocher : rgb(231, 178, 98);

$error : rgb(177, 2, 2);

$succes : rgb(85, 148, 104);

$white_op :  #ffffffee;

$yellow :#cf9b3a;

$grey : #4a4b4e8a;

$dark_grey : #494a4b;

$dark_blue : rgb(46, 46, 63);

$nav_foot : #1c26337c;

$form : #36383baf;

$light_blue_disabled : rgba(80, 148, 165, 0.25);