

$duck_blue : #0b2e5c;

$ocher : rgb(231, 178, 98);

$light_ocher : rgb(235, 198, 149);

$error : rgb(177, 2, 2);

$success : rgb(122, 165, 135);

$white_op :  #ffffffee;

$yellow :#cf9b3a;

$grey : #4a4b4e8a;

$dark_grey : #494a4b;

$nav_foot : #6e6f70;

$form : #36383baf;

$light_ocher_disabled : rgba(207, 141, 78, 0.25);

$red : rgba(206,6,18,0.9);
