body{
    margin:0px; 
    font-family: arial;
}

footer{
    position:fixed;
}

.container-fluid{
    background-color:rgba(119, 119, 119,0.5);
    min-height:100%;
}

button.logout{
    background-color: rgb(63, 66, 62); 
    color:white; 
    border-radius:10px; 
    font-size: 15px; 
    padding: 10px;
}

button:hover {
    cursor:pointer;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15), 0 5px 50px 0 rgba(0,0,0,0.15);

}